.title{
    background-color: #a3f7bf;
    border-radius: 1rem;
}

.title-2{
    background-color: #fff3af;
    border-radius: 1rem;
}

.title-p1{
    padding-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.title-p2{
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.big-title{
    padding-top: 1rem;
    padding-left: 2rem;
}

.snip{
    padding-top: 1rem;
}

.p2{
    padding-top: 0.5rem;
}

.pw{
    padding-left: 20rem;
    padding-bottom: 1rem;
}

.title-3{
    background-color: #d4d7dd;
    border-radius: 1rem;
}

.button{
    border-radius: 1rem;
    background-color: #fff3af;
}

.button:hover{
    background-color: #a3f7bf;
}

.alert{
    size: 2rem;
    color: gray;
    
}

.overlay{
    border-radius: 1rem;
}

tr:hover{
    background-color: darkcyan;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 10px 20px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}