<link rel="stylesheet" href="/css/login.css">

<div class="loginpage" style="background-image: url(../image/bgwhite.jpg);">
  <div class="login-dark">
    <form action="/users/login" method="post">
      <h2 class="sr-only">Login Form</h2>
      <% include ./partials/messages %>
      <div class="illustration">
        <i class="iconify" data-icon="ion-ios-locked-outline" style="color: #da3838;"></i>
      </div>
      <div class="form-group">
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
      </div>
      <div class="form-group">
        <button class="btn btn-danger btn-block" type="submit" style="padding:10px; margin-top: 20px;">Log In</button>
      </div>
      <a class="forgot" href="#">Forgot your email or password?</a>
      <p>
        <a class="forgot" href="/users/register">Register</a>
      </p>
    </form>
  </div>
</div>