<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/userprofile.css">
<% include ./header %>

<div class="main">
    <div class="wrapper">
        <div class="left">
            <img src="https://media.wired.com/photos/5a55457ef41e4c2cd9ee6cb5/master/w_2560%2Cc_limit/Doggo-TopArt-104685145.jpg"
                alt="user" width="250">
            <div class="social_media">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="settings.html"><i class="fas fa-cog"></i></a></li>
                </ul>
            </div>
            <div class="main_info">
                <h3>Bacher of IT</h3>
                <br><br></br></p>
                <h3>Major: Web Dev</h3>
                <br><br></br></p>
                <h3>Minor: Business</h3>
            </div>
        </div>
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>User's Name</h4>
                        <p>Name</p>
                    </div>
                    <div class="data">
                        <h4>Email</h4>
                        <p>user@rmit.edu.vn</p>
                    </div>
                    <div class="data">
                        <h4>Phone</h4>
                        <p>Phone number</p>
                    </div>
                </div>
            </div>

            <div class="projects">
                <h3>Projects</h3>
                <div class="projects_data">
                    <div class="data">
                        <h4>Recent</h4>
                        <p>(Recent activities here)</p>
                        <br><br></br></p>
                        <h4>Courses taken</h4>
                        <p>Intro to IT, Intro to Computer System</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>