<!-- <style>
  tr:hover{background-color: black;}
</style> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Action
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="/addproject" class="dropdown-item">Adding Project</a>
          <a href="/userdisplay" class="dropdown-item">Edit User</a>
          <div class="dropdown-divider"></div>
          <a href="/users/logout" class="dropdown-item">Logout</a>

        </div>
      </li>

    </ul>
    <form action="search/keyword" method="GET" class="form-inline my-2 my-lg-0">
      <label for="keyword"></label>
      <input name="keyword" class="form-control mr-sm-2" id="keyword" type="text" placeholder="Search User name"
        aria-label="Search">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit"></input>
    </form>
  </div>
</nav>

<div style="overflow-x: auto;">
  <table class="table">
    <thead class="thead-dark">
      <a href="/users/demoregister" class="btn btn-primary">Add User</a>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function (user) {%>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <a href="/edituser/<%= user.id%> " class="btn btn-primary" style="margin: 5px;">Edit</a>
          <a href="/delete/<%= user.id%> " class="btn btn-primary" style="margin: 5px;">Delete</a>
          <a href="/" class="btn btn-primary" style="margin: 5px">Ban user</a>
        </td>
      </tr>
      <%}) %>
    </tbody>
  </table>
</div>